<%# <div class="contents_show"> %>
  <%# <div style ="text-align: center; font-size:large;"> %>
  <div style="text-align: center; background-color: beige; height:200px; margin-bottom:30px; font-size:18px; text-decoratioon">
    リストから外す？
    <div style="width:450px; height:30px; padding:20px; margin: 0 auto; font-size:24px;">
      <%= @root.post %>
    </div>
      <div style="font-size:40px;">
      <%= button_to '外してOK!', "#{@root.id}", method: :delete %>
      </div>
  </div>
  <footer style="text-align: center;">
  <%= link_to 'Back to snack hikaru', "/" %>
  </footer>
<%# </div> %>
