<div class="contents_show">
  <div style ="text-align: center; font-size:large;">
    リストから外す？
  </div>
  <div class="show_btn">
    <%= @root.post %></span>
    <%= button_to '外してOK', "#{@root.id}", method: :delete %>
  </div>
</div>